@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* edited by devsay007 */

.nav-link {
  @apply text-sm font-medium text-gray-600 hover:text-black transition;
}

.social-btn {
  @apply rounded-full border border-neutral-700 px-4 py-2 text-xs text-neutral-300 hover:bg-white hover:text-black transition;
}
